name: Metrics

on:
  schedule:
    - cron: "0 19 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate language metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: th3adittya
          filename: metrics-languages.svg
          template: classic
          base: ""
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage,lines
          plugin_languages_limit: 12
          config_timezone: Asia/Dhaka
